<launch>
  
   <!-- joy node -->
  <node respawn="true" pkg="joy"
         type="joy_node" name="joy" >
     <param name="dev" type="string" value="/dev/input/js1" />
     <param name="deadzone" value="0.12" />
   </node>


   <node pkg="teleop" name="teleop" type="teleop_node"/>
   <node pkg="cmd_mux" name="mux" type="cmd_mux_node"/>
   <node pkg="safe_drive" name="safedrive" type="safe_drive_node"/>
   <node pkg="twist_to_wheels" name="twist" type="twist_to_wheels_node"/>
   <node pkg="robotsim" name="robot" type="robotsim_node"/>
   <node pkg="odometry_tf" name="odometria" type="odometry_tf_node"/>

</launch>
