<launch>

  <!--node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/-->

  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /labbot_odometry 100" />

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="gamepad_input" output="screen">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- keyboard node -->
  <!--node pkg="teleop_twist_keyboard" name="teleopkey" type="teleop_twist_keyboard.py"/-->

  <!-- safe drive node -->
  <node pkg="safe_drive" type="safe_drive_node" name="safe_drive_node"/>
  <!--node pkg="nodelet" type="nodelet" name="safe_drive_nodelet" args="load safe_drive/safe_drive_nodelet standalone_nodelet" output="screen"/-->

  <!-- teleop joy node -->
  <node pkg="teleop_joy" type="teleop_joy_node" name="teleop_joy_node"/>
  <!--node pkg="nodelet" type="nodelet" name="teleop_joy_nodelet" args="load teleop_joy/teleop_joy_nodelet standalone_nodelet" output="screen"/-->

  <!-- command mux node -->
  <node pkg="command_mux" type="command_mux_node" name="command_mux_node"/>
  <!--node pkg="nodelet" type="nodelet" name="command_mux_nodelet" args="load command_mux/command_mux_nodelet standalone_nodelet" output="screen"/-->

  <!-- twist to labbot node -->
  <node pkg="labbot" type="labbot_teleoperation_twist_node" name="labbot_teleoperation_twist_node"/>
  <!--node pkg="nodelet" type="nodelet" name="labbot_teleoperation_nodelet" args="load labbot_teleoperation/labbot_teleoperation_nodelet standalone_nodelet" output="screen"/-->

  <!-- serial port node -->
  <node respawn="true" pkg="rosserial_server" type="serial_node" name="serial_port" output="screen">
  <param name="~port" value="/dev/ttyACM0"/>
  <param name="~baud" value="57600"/>
  <rosparam>
    require:
      publishers: [ fromLabbot ]
      subscribers: [ toLabbot]
  </rosparam>
  </node>

  <!-- required by rosserial_server C++-->
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

  <!-- odometry node -->
  <node pkg="labbot" type="labbot_odometry_node" name="labbot_odometry_node"/>

  <!-- node for displaying data from arduino -->

</launch>
